* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: monospace;
	color: #000000;
}

html {
	overflow: hidden;
}

section {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #000000;
}

#main-container {
	min-width: 650px;
	background: #ffffff;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
}

#main-container h1 {
	width: 100%;
	height: auto;
	font-size: 4.3em;
	margin-bottom: 20px;
	text-align: center;
}

#password-container {
	display: flex;
	flex-direction: row;
	justify-content: stretch;
	background: #000000;
	width: 95%;
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 15px;
	/* https://stackoverflow.com/questions/4108726/how-to-spread-elements-horizontally-evenly */
	justify-content: space-between;
}

#password-text {
	font-size: 2em;
	color: #ffffff;
	width: 90%;
	margin: 0px 10px;
}

#copy-button {
	padding: 3px 20px;
	border-radius: 7px;
}

#length-slider-container {
	font-size: 1.4em;
	padding: 10px 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 95%;
}

#length-slider-container p {
	width: 25%;
}

#pass-length-slider {
	width: 64%;
	margin: 0 2%;
}

#pass-length-text {
	width: 5% !important;
}

#settings-checkbox-container {
	font-size: 1.4em;
	padding: 10px 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 90%;
}

#settings-checkbox-container div {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 50%;
}

#settings-checkbox-container div p {
	margin: 0 20px;
}

#generate-button {
	font-size: 2em;
	width: 70%;
	margin: 20px 10px;
	margin-bottom: 10px;
	padding: 15px 10px;
}

@media only screen and (max-width: 700px) {
	#main-container {
		min-width: 95%;
	}

	#main-container h1 {
		font-size: 3rem;
	}

	#password-container {
		width: 95%;
		padding: 5px;
		margin-bottom: 10px;
	}

	#password-text {
		font-size: 1.5em;
	}

	#length-slider-container {
		font-size: 1em;
		padding: 5px 5px;
	}

	#settings-checkbox-container {
		font-size: 1em;
		padding: 5px 5px;
		width: 95%;
	}

	#settings-checkbox-container div p {
		margin: 0 10px;
	}

	#generate-button {
		font-size: 1.5em;
		width: 80%;
		margin: 10px 5px;
		margin-bottom: 5px;
		padding: 5px;
	}
}
